<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet form page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" ></script>
</head>
<body>
<!--/*@thymesVar id="petDto" type="net.azurewebsites.mypet.dto.PetDto"*/-->

<div class = "container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object = "${petDto}" th:action="@{/pet/}" method = "post">

                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Insert Pet Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-3 form-group">
                                <label>Pet name:</label>
                                <input type="text" class="form-control" th:field="*{name}"/>
                                <input type="hidden" th:field="${petDto.rating.finalRating}" th:value="${T(net.azurewebsites.mypet.domain.ratings.Scale).COOL}" />
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Kind of Animal:</label>
                                <select class="form-control" th:field="*{kindOfAnimal}">
                                    <option th:each="kindOfAnimalValue : ${T(net.azurewebsites.mypet.domain.KindOfAnimal).values()}"
                                            th:value="${kindOfAnimalValue.name()}"
                                            th:text="${kindOfAnimalValue.name()}"
                                    >val
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label> Temper of Animal:</label>
                                <select class ="form-control" th:field = "*{temper}">
                                    <option th:each="temperValue : ${T(net.azurewebsites.mypet.domain.Temper).values()}"
                                            th:value="${temperValue.name()}"
                                            th:text="${temperValue.name()}"
                                    >val
                                    </option>
                                </select>
                            </div>
                            <!--/*@thymesVar id="pet" type="net.azurewebsites.mypet.dto.PetDto"*/-->
                            <div class="col-md-3 form-group">
                                <label>Country:</label>
                                <select class="form-control" th:field="${petDto.country.id}">
                                    <option th:each="countryVal : ${countries}"
                                            th:value="${countryVal.id}"
                                            th:text="${countryVal.getName()}"
                                    >val
                                    </option>
                                </select>

                            </div>
                            <div class="col-md-3 form-group">
                                <label>Weight:</label>
                                <input type="text" class="form-control" th:field="*{weight.value}"/>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Unit:</label>
                                <select class="form-control" th:name="weight.uow.id" >
                                    <option th:each="uowEach : ${uowList}"
                                            th:value="${uowEach.id}"
                                            th:text="${uowEach.getDescription()}"
                                    >val
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Length:</label>
                                <input type="text" class="form-control" th:field="*{length.value}"/>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Unit:</label>
                                <select class="form-control" th:name="length.uol.id" >
                                    <option th:each="uolEach : ${uolList}"
                                            th:value="${uolEach.id}"
                                            th:text="${uolEach.getDescription()}"
                                    >val
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label>Author:</label>
                                <input type="text" class="form-control" th:field="*{author.nickname}"/>
                            </div>
                        </div>

                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>