body {
    background-color: #2c3e50;
}
#dog{
    background-image: url('../images/dog.png');
    height: 400px;
    width: 361px;
}
#dog:hover{
    background-image: url('../images/dog-hover.png');
    height: 400px;
    width: 361px;
    cursor: pointer;
}
#logo{
    background-image: url('../images/logo.png');
    height: 124px;
    width: 900px;
    cursor: pointer;
}
#beaver{
    background-image: url('../images/beaver.png');
    height: 400px;
    width: 376px;
}
#beaver:hover{
    background-image: url('../images/beaver-hover.png');
    height: 400px;
    width: 376px;
    cursor: pointer;
}
.row{
    margin-top: 30px;
    margin-bottom: 30px
}
.row-m-t{
    margin-top : 30px
}
.col-centered{
    float: none;
    margin: 0 auto;
}
