body {
    background-color: #212121;
    background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");

}
.row{
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.panel-body{
    background-color: #212121;
    background-image: url("https://www.transparenttextures.com/patterns/fabric-1-dark.png");

    border-style: none;
    color: white;
}
